/* Estilos para la opción "Nosotros" */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin-left: 10px;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para el menú desplegable */
.navbar-dropdown {
    position: relative;
}

.navbar-dropdown-content {
    position: absolute;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
}

.navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
}

.navbar-dropdown-content a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

body {
    color: #fff;
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
}
